<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% block title %}<title>VacPass</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/datapicker.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block headerextra %}{% endblock %}
</head>
<body class="dashboard">
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'index' %}">VacPass</a></h1>
            </div>

            {% if user.is_authenticated %}
                <div id="user-tools">
                    Bem vindo, <strong>{{ user.first_name }}</strong>.
                    <a href="/">Home</a>
                    <a href="{% url 'gerenciardependente' %}">Gerenciar conta</a>

                    <a href="{% url 'logout' %}?next={% url 'index' %}">Sair</a>
                </div>
            {% endif %}
        </div>

        <div id="sidebar">
            <ul>
                <p><b>VacPass</b></p>
                <li><a href="{% url 'meucartao' %}">Meu cartão</a></li>
                <li><a href="{% url 'buscarvacina' %}">Vacinas</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'solicitarvacina' %}">Solicitar vacina</a></li>
                    <li><a href="{% url 'gerenciardependente' %}">Gerenciar Dependente</a></li>
                {% endif %}

                <hr/>
                <p><b>Conta</b></p>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></li>
                    <li><a href="{% url 'editpass' %}">Alterar Senha</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}

                {% if user.is_staff %}
                    <li><a href="{% url 'admin' %}">Administração</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="content">
            {% if messages %}
                <ul class="messagelist">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
