<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
{% if removida %}
    Dose Removida
    <script>window.top.fecha_modal();window.top.location=window.top.location;</script>

{% else %}
    <form action="{% url 'deletardose' vacina dose %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="{{ form.dose.name }}" value="{{ dose }}">
        <input type="hidden" name="{{ form.vacina.name }}" value="{{ vacina }}">
        <input type="submit" value="Excluir">
    </form>
{% endif %}
</body>
</html>