{% extends "base.html" %}
{% load static %}
{% block headerextra %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/cartao.css' %}">
{% endblock %}
{% block content %}
    <div class="container testimonial-group">
        <div class="row text-center">
            <div class="col-xs-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Vacina X</h4>
                    </div>
                    <div class="panel-body">
                        fsyadgjsd
                    </div>
                </div>
            </div>
            <div class="col-xs-3">2</div>
            <div class="col-xs-3">3</div>
            <div class="col-xs-3">4</div>
            <div class="col-xs-3">5</div>
            <div class="col-xs-3">6</div>
            <div class="col-xs-3">7</div>
            <div class="col-xs-3">8</div>
            <div class="col-xs-3">9</div>
        </div>
    </div>
    <div style="overflow: auto">
        <div class="row-fluid" style="white-space: nowrap;">
            <div class="col-md-4" style="display: inline-block;">
                <div class="panel panel-primary ">
                    <div class="panel-heading">Vacina X</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a class="btn btn-danger"
                                   style="float: right; padding: 2px; width: 20px; position: relative; top: -10px; right: -10px; ">X</a>
                                <h3 style="margin: 0px 0px 10px 0px;">Dose X</h3>
                                <p><strong>Data:</strong> 01/03/2013</p>
                                <p><strong>Vencimento:</strong> 01/03/2013</p>
                                <a href="" class="btn btn-primary" style="color: white; float: right;">Renovar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary ">
                    <div class="panel-heading">Vacina X</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a class="btn btn-danger"
                                   style="float: right; padding: 2px; width: 20px; position: relative; top: -10px; right: -10px; ">X</a>
                                <h3 style="margin: 0px 0px 10px 0px;">Dose X</h3>
                                <p><strong>Data:</strong> 01/03/2013</p>
                                <p><strong>Vencimento:</strong> 01/03/2013</p>
                                <a href="" class="btn btn-primary" style="color: white; float: right;">Renovar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary ">
                    <div class="panel-heading">Vacina X</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a class="btn btn-danger"
                                   style="float: right; padding: 2px; width: 20px; position: relative; top: -10px; right: -10px; ">X</a>
                                <h3 style="margin: 0px 0px 10px 0px;">Dose X</h3>
                                <p><strong>Data:</strong> 01/03/2013</p>
                                <p><strong>Vencimento:</strong> 01/03/2013</p>
                                <a href="" class="btn btn-primary" style="color: white; float: right;">Renovar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}