{% extends "base.html" %}

{% block content %}
    <h3>Sua Conta</h3>
    <table>
        <tbody>
            <tr>
               <th>
                   <label>Nome</label>
               </th>
                <td>
                    {{ request.user.first_name }}
                </td>
            </tr>
            <tr>
               <th>
                   <label>Email</label>
               </th>
                <td>
                    {{ request.user.email }}
                </td>
            </tr>
            <tr>
               <th>
                   <label>CPF</label>
               </th>
                <td>
                    {{ request.user.username }}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="../editconta/{{ request.user.pk }}"><input type="submit" value="Editar"></a>
    <a href=" {% url 'deleteconta' %}"><input type="submit" value="Excluir"></a>
    <h3>Depentes</h3>
    <form method="post" id="formdependente" action={% url "gerenciardependente" %}>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Criar"/>
    </form>
{% for dep in dependentes %}
    <p><b>Nome</b> : {{ dep.nome }}</p>
    <p><b>Documento</b> : {{ dep.tipo }}</p>
    <p><b>Numero</b> : {{ dep.ndocumento }}</p>
        <a id = 'ed' href = '{{ dep.get_absolute_url }}'> Editar </a>
        <a id = 'exd' href = '{{ dep.get_url }}'> Excluir </a>
    {% endfor %}

{% endblock %}