{% extends "base.html" %}

{% block content %}
    <h1>Sua Conta</h1>
    <table>
        <tbody>
            <tr>
               <th>
                   <label>Nome</label>
               </th>
                <td>
                    {{ request.user.first_name }}
                </td>
            </tr>
            <tr>
               <th>
                   <label>Email</label>
               </th>
                <td>
                    {{ request.user.email }}
                </td>
            </tr>
            <tr>
               <th>
                   <label>CPF</label>
               </th>
                <td>
                    {{ request.user.username }}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="../editconta/{{ request.user.pk }}"><input type="submit" value="Editar"></a>
    <a href=" {% url 'deleteconta' %}"><input type="submit" value="Excluir"></a>
    <h1><br>Criar depentes</h1>
    <form method="post" id="formdependente" action={% url "gerenciardependente" %}>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Criar"/>
    </form>
    <h1> <br>Dependentes </h1>
<table>
    <tr>
        <td> <b>Nome</b></td>
        <td> <b>Documento</b> </td>
        <td> <b>Numero </b></td>
        <td> <b>Editar </b></td>
        <td> <b>Excluir</b> </td>
    <tr>
{% for dep in dependentes %}
     <tr>

        <td> {{ dep.nome }}</td>
        <td> {{ dep.tipo }}</td>
        <td> {{ dep.ndocumento }}</td>
         <td><a id = 'ed' href = '{{ dep.get_absolute_url }}'> Editar </a></td>
         <td><a id = 'exd' href = '{{ dep.get_url }}'> Excluir </a></td>
     </tr>
    {% endfor %}
</table>
{% endblock %}