{% extends "base.html" %}


{% block content %}
    {% if CREATE_ERRO %}
      {% for i in CREATE_ERRO %}
          {% if i == 1 %}
            <p>Email já exite</p>
          {% endif %}
          {% if i == 2 %}
            <p>CPF já exite</p>
          {% endif %}
          {% if i == 3 %}
            <p>Senhas diferentes</p>
          {% endif %}
      {% endfor %}
    {% endif %}
    {% if form.errors %}
        <div id="errors">
            <div class="inner">
                <p>Há erros no formulário</p>
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <h1>Criar conta</h1>
    <form method="post" id="formcriarconta" action={% url "criarconta" %}>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Criar"/>
    </form>
{% endblock %}
