{% extends "base.html" %}


{% block content %}

    {% if form.errors %}
        <div id="errors">
            <div class="inner">
                <p>Há erros no formulário</p>
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <h1>Criar conta</h1>
    <form method="post" id="formcriarconta" action={% url "criarconta" %}>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Criar"/>
    </form>
{% endblock %}
