{% extends "base.html" %}

{% block content %}
    <h1>{{ object.nome }}</h1>

    <h2>Funcionalidade</h2>
    <p>{{ object.funcionalidade }}</p>

    <h2>Funcionalidade</h2>
    <p>{{ object.publico_alvo }}</p>

    <h2>Disponibilidade</h2>
    <p>{{ object.disponibilidade }}</p>

    <h2>Contra-indicações e precauções</h2>
    <p>{{ object.proibitivos }}</p>

    <h2>Doses</h2>
    {% load render_table from django_tables2 %}
    {% render_table dosetable %}

    <h2>Preço</h2>
    {% if user.is_staff %}
    <p>R$ <a href = "{% url 'admin:vacpass_vacina_change' object.pk %}">{{ object.preco }} </a></p>
    {% else %}
    <p>R$ {{ object.preco }}</p>
    {% endif %}
    <h2>Revisão</h2>
    {% if user.is_authenticated %}
    Acredita que há algum dado incoerente ou desatualizado nesta página? <span class="abremodal link" style="cursor:pointer" >Solicite uma revisão</span>.



    <div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <b>Solicitar revisão - {{ vacina.nome }}</b>
            <iframe width="100%" frameborder="0" src="{% url 'solicitarrevisao' vacina.id %}"></iframe>
        </div>
    </div>
    {% else %}
        Acredita que há algum dado incoerente ou desatualizado nesta página? Faça <a href="{% url 'login' %}">login</a> ou <a href="{% url 'criarconta' %}">cadastre-se</a> para solicitar uma revisão.
    {% endif %}
{% endblock %}